<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog - Thiago Di Gianni</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Apps/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Thiago Di Gianni</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Acerca de mi</h1>
                
                
            </div>
        </header>
        <!-- About section-->
        <section id="Blog">
            <h3>¿Quien soy?</h3>
            <br>
              <p>Mi nombre es Thiago Di Gianni, tengo 21 años y soy de la ciudad de Lanus en Buenos Aires Argentina.<p>
                <br>
                <br>
            <h3>¿A que me dedico?</h3>  
            <br>    
              <p>En este momento me dedico a mantener un emprendimiento propio de comidas caseras llamado @thiagoencasa, este nombre se debe a que inicio en la cuarentena de 2020,
                   donde solo podia usar mi casa para cocinar.<p>
                    <br>
                    <br>
            <h3>Planes a futuro: </h3>
            <br>
              <p>Mi plan es terminar el curso de Python para continuar mi aprendizaje con la carrera de Data Analytics, dentro de CoderHouse,
                  y tambien poder aprender ingles en el proceso.</p> 
                  <br>
                  <br>
            <h3>¿Que hago en mi tiempo libre? </h3>
            <br>
              <p>Mi tiempo libre se distribuye en distintas actividades. En este momento el mismo se divide en, entrenar y jugar al Rugby,
                   compartir con mi novia y jugar videojuegos.</p>
                   <br>
                   <br>
            <h3>¿Que me motivo a empezar en la programacion?</h3> 
            <br>
              <p>Hace aproximadamente un año un amigo me comento sobre el mundo de la programacion, del cual yo no tenia idea, y en el cual el comenzo a adentrarse.
                  Pronto empeze a investigar mas por mi cuenta, y descubri el mundo de posibilidades que este brindaba, ademas de ser algo que me parecia de lo mas interesante
                y moderno. En poco tiempo estaba anotandome junto a un amigo en mi primer curso de Python en CoderHouse, hasta llegar a este proyecto.</p>                    


        </section>

        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
